<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Smile please</title>
</head>
<body>
    <img src="/media/dance.gif" />
    <button id="jokeButton">Tell me a joke</button>
    <select id="voice" name="voice">
        <option selected>Select a voice</option>
    </select>
      <p id="jokeText"></p>

    <footer>
        <h3>
        Where to find me:
        </h3>
        <a href="https://www.youtube.com/channel/UCKTBOLj2igRhsYX1RGdV0ww"><img class="contact" src="/media/youtube.png"/></a>
        <a href="https://twitter.com/Rishika5000"><img class="contact" src="/media/twitter.png"/></a>
        <a href ="mailto: rishika246813579@gmail.com"><img class="contact" src="/media/email.png"/></a>
        <a href="https://github.com/rishikagupta2468"><img class="contact" src="/media/github.png"/></a>
        <a href="https://www.instagram.com/rishikagupta__/"><img class="contact" src="/media/insta.png"/></a>
        <a href="https://www.linkedin.com/in/rishikagupta-rg/"><img class="contact" src="/media/linkedin.png"/></a>
        <a href="https://www.polywork.com/rishikagupta/"><img class="contact" src="/media/polywork.png"/></a>
        <div><a href="https://github.com/rishikagupta2468/smilePlease" style="color:white">Source code</a></div>
    </footer>
    <script src="/script/jokesApi.js"></script>

</body>
</html>